<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.module identifier="@typo3/backend/element/progress-tracker-element.js"/>
<typo3-backend-progress-tracker
    active="{active}"
    stages='[
        "{f:translate(id: 'extension', domain: 'ew_llxml2xliff.messages')}",
        "{f:translate(id: 'file', domain: 'ew_llxml2xliff.messages')}",
        "{f:translate(id: 'confirm_selection', domain: 'ew_llxml2xliff.messages')}",
        "{f:translate(id: 'finish', domain: 'ew_llxml2xliff.messages')}"
    ]'
></typo3-backend-progress-tracker>

</html>
