<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="form-section form-group">
    <label for="file"><f:translate id="file"/></label>
    <div class="form-control-wrap">
        <div class="input-group">
            <f:if condition="{files}">
                <f:then>
                    <div class="input-group">
                        <f:form.select
                            name="file"
                            value="{selectedFile}"
                            class="form-select form-control-adapt"
                            id="file"
                            options="{files}"
                            optionValueField="filename"
                            optionLabelField="filename"
                            additionalAttributes="{onchange : 'submit()'}"
                            prependOptionLabel="{f:translate(id: 'please.select')}"/>
                    </div>
                </f:then>
                <f:else><f:translate id="noFilesToConvert" arguments="{0: selectedExtension}"/></f:else>
            </f:if>
        </div>
    </div>
</div>

</html>
