<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<fieldset class="form-section">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="extension" class="form-label"><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:extension"/></label>
            <div class="formengine-field-item t3js-formengine-field-item">
                <div class="form-control-wrap">
                    <div class="form-wizards-wrap">
                        <div class="form-wizards-element">
                            <div class="input-group">
                                <span class="input-group-addon input-group-icon"><f:spaceless>
                                    <f:for each="{rows}" as="row">
                                        <f:if condition="{row.selected}">{f:render(section: 'icon', arguments: _all)}</f:if>
                                    </f:for>
                                </f:spaceless></span>
                                <select name="extension" id="extension" class="form-select form-control-adapt">
                                    <option data-icon="">{f:translate(id: 'LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:please.select')}</option>
                                    <f:for each="{rows}" as="row">
                                        <option value="{row.key}" data-icon="{f:render(section: 'icon', arguments: _all) -> f:format.htmlspecialchars()}" {row.selected}>{row.key}</option>
                                    </f:for>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col col-sm-1">
            <div class="loader pt30"></div>
        </div>
    </div>
</fieldset>

<f:section name="icon"><f:spaceless>
    <span title="{row.key}" class="t3js-icon icon icon-size-small icon-state-default" data-identifier="extension-{row.key}" aria-hidden="true">
        <span class="icon-markup">
            <f:if condition="{row.icon}">
                <f:then><img class="extension-icon" src="{row.icon}" alt="" /></f:then>
                <f:else><core:icon identifier="empty-empty" /></f:else>
            </f:if>
        </span>
    </span>
</f:spaceless></f:section>

</html>
