[data-module-name="web_EwLlxml2xliff"] .modal-multi-step-wizard .modal-body .carousel-inner {
    width: 100%;
}

.selected-parameter {
    display: grid;
    grid-template-columns: 12rem 1.5rem 1fr;
}
