<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
	<h1><f:translate id="header.conversion"/></h1>

	<f:form action="showFiles">
        <f:render partial="SelectExtension" arguments="{_all}"/>
	</f:form>

	<f:form action="confirmConversion">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
        <f:render partial="SelectFile" arguments="{_all}"/>
	</f:form>

	<f:form action="convertFile">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
		<f:form.hidden name="file" value="{selectedFile}"/>
		<div class="form-section form-group">
			<div class="form-control-wrap">
				<span class="input-group-btn">
					<f:form.submit class="btn btn-default" value="Convert selected File"/>
				</span>
			</div>
		</div>
	</f:form>
</f:section>

</html>
