<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <h1><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:header.conversion"/></h1>

    <form action="{f:be.uri(route: 'web_EwLlxml2xliff.showFiles')}" method="post">
        <f:render partial="SelectExtension" arguments="{rows: extensions}"/>
    </form>

    <form action="{f:be.uri(route: 'web_EwLlxml2xliff.confirmConversion')}" method="post">
        <input type="hidden" name="extension" value="{selectedExtension}"/>
        <f:render partial="SelectFile" arguments="{rows: files}"/>
    </form>

    <f:render partial="Fieldset" contentAs="field">
        <p>
            <f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:processedFile" arguments="{0: selectedFile, 1: selectedExtension}"/>
            <f:if condition="{wasConvertedPreviously}">
                <f:then><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:wasConvertedPreviously"/></f:then>
                <f:else>
                    <f:if condition="{fileConvertedSuccessfully}">
                        <f:then><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:fileConvertedSuccessfully.yes"/></f:then>
                        <f:else><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:fileConvertedSuccessfully.no"/></f:else>
                    </f:if>
                </f:else>
            </f:if>
        </p>
        <p><f:format.raw>{messages}</f:format.raw></p>
    </f:render>
</f:section>

</html>
