<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <div class="container">
        <h1><f:translate id="header.conversion" domain="ew_llxml2xliff.messages"/></h1>

        <f:render partial="Progressbar" arguments="{active: 4}"/>

        <h5 class="form-section-headline">
            <span><f:translate id="selected_extension" domain="ew_llxml2xliff.messages"/>:</span>
            <span class="icon">
                <f:if condition="{selectedExtension.icon}">
                    <f:then>
                        <img class="extension-icon" src="{selectedExtension.icon}" alt="" />
                    </f:then>
                    <f:else>
                        <core:icon identifier="empty-empty" />
                    </f:else>
                </f:if>
            </span>
            <span>{selectedExtension.title}</span>
        </h5>

        <h5 class="form-section-headline">
            <span><f:translate id="selected_file" domain="ew_llxml2xliff.messages"/>:</span>
            <core:icon identifier="empty-empty" />
            <span>{selectedFile.filename}</span>
        </h5>

        <div class="card-container">
            <div class="card card-size-small">
                <div class="card-body">
                    <p class="card-text">
                        <f:translate id="processedFile" domain="ew_llxml2xliff.messages" arguments="{0: selectedFileKey, 1: selectedExtensionKey}"/>
                        <f:if condition="{wasConvertedPreviously}">
                            <f:then>
                                <f:translate id="wasConvertedPreviously" domain="ew_llxml2xliff.messages"/>
                            </f:then>
                            <f:else if="{fileConvertedSuccessfully}">
                                <f:translate id="fileConvertedSuccessfully" domain="ew_llxml2xliff.messages"/>
                            </f:else>
                            <f:else>
                                <f:translate id="fileCouldntBeConverted" domain="ew_llxml2xliff.messages"/>
                            </f:else>
                        </f:if><br>
                        <f:format.raw>{messages}</f:format.raw>
                    </p>
                </div>
            </div>
        </div>
    </div>
</f:section>

</html>
