<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="Content">
	<h1>
		<f:translate key="header.languages"/>
	</h1>

	<f:form action="showFiles">
		<f:translate id="extension"/>: <f:render partial="SelectExtension" arguments="{_all}"/>
	</f:form>

	<f:form action="confirmConversion">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
		<f:translate id="file"/>: <f:render partial="SelectFile" arguments="{_all}"/>
	</f:form>

	<div>
		<f:if condition="{wasConvertedPreviously}">
			<f:then>File {selectedFile} in extension {selectedExtension} was converted previously</f:then>
			<f:else>
				<f:if condition="{fileConvertedSuccessfuly}">
					<f:then>File {selectedFile} in extension {selectedExtension} was converted successfuly</f:then>
					<f:else>File {selectedFile} in extension {selectedExtension} could be converted automaticaly</f:else>
				</f:if>

				<br />
				<f:format.raw>{messages}</f:format.raw>
			</f:else>
		</f:if>
	</div>
</f:section>

</html>
