<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
	<h1><f:translate id="header.conversion"/></h1>

    <f:form action="showFiles">
        <f:render partial="SelectExtension" arguments="{_all}"/>
    </f:form>

	<f:form action="confirmConversion">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
        <f:render partial="SelectFile" arguments="{_all}"/>
	</f:form>

	<div class="form-section form-group">
		<div class="form-control-wrap" style="margin-top: 0;">
			<f:translate id="processedFile" arguments="{0: convertedFile, 1: selectedExtension}"/>
			<f:if condition="{wasConvertedPreviously}">
				<f:then><f:translate id="wasConvertedPreviously"/></f:then>
				<f:else>
					<f:if condition="{fileConvertedSuccessfully}">
						<f:then><f:translate id="fileConvertedSuccessfully.yes"/></f:then>
						<f:else><f:translate id="fileConvertedSuccessfully.no"/></f:else>
					</f:if>
					<br />
					<br />
					<f:format.raw>{messages}</f:format.raw>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

</html>
