<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <div class="container">
        <h1><f:translate id="LLL:EXT:ew_llxml2xliff/Resources/Private/Language/locallang.xlf:header.conversion"/></h1>

        <div class="card-container">
            <f:if condition="{extensions -> f:count()} == 0">
                <div class="card card-size-small">
                    <div class="card-header">
                        <div class="card-icon">
                            <core:icon identifier="actions-exclamation-triangle" size="large" />
                        </div>
                        <div class="card-header-body">
                            <h2 class="card-title"><f:translate id="warning" extensionName="ew_llxml2xliff"/></h2>
                            <span class="card-subtitle"><f:translate id="noExtensionsToConvertFilesFor" extensionName="ew_llxml2xliff"/></span>
                        </div>
                    </div>
                </div>
            </f:if>

            <f:for each="{extensions}" as="extension" key="extensionKey">
                <div class="card card-size-small">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="icon icon-size-large">
                                <f:if condition="{extension.icon}">
                                    <f:then>
                                        <img class="extension-icon" src="{extension.icon}" alt="" />
                                    </f:then>
                                    <f:else>
                                        <core:icon identifier="empty-empty" />
                                    </f:else>
                                </f:if>
                            </span>
                        </div>
                        <div class="card-header-body">
                            <h2 class="card-title">{extension.title}</h2>
                            <span class="card-subtitle">{extension.description}</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{f:be.uri(route: 'web_EwLlxml2xliff.showFiles', parameters: {extension: extension.key})}">
                        <button type="button" class="btn btn-success" data-inline="1" value="blank" data-identifier="convertExtension">
                            <core:icon identifier="actions-plus" />
                            <f:translate id="select_extension" extensionName="ew_llxml2xliff"/>
                        </button>
                        </a>
                    </div>
                </div>
            </f:for>
        </div>

        <div class="modal-multi-step-wizard">
            <div class="modal-content">
                <f:render partial="Progressbar" arguments="{now: 25}"/>
            </div>
        </div>
    </div>
</f:section>

</html>
