<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <div class="container">
        <h1><f:translate id="header.conversion" domain="ew_llxml2xliff.messages"/></h1>

        <f:render partial="Progressbar" arguments="{active: 2}"/>

        <h5 class="form-section-headline py-2">
            <span><f:translate id="selected_extension" domain="ew_llxml2xliff.messages"/>:</span>
            <span class="icon">
                <f:if condition="{selectedExtension.icon}">
                    <f:then>
                        <img class="extension-icon" src="{selectedExtension.icon}" alt="" />
                    </f:then>
                    <f:else>
                        <core:icon identifier="empty-empty" />
                    </f:else>
                </f:if>
            </span>
            <span>{selectedExtension.title}</span>
        </h5>

        <f:if condition="{files -> f:count()} == 0">
            <div class="card-container">
                <div class="card card-size-small">
                    <div class="card-header-body">
                        <p><f:translate id="noFilesToConvert" domain="ew_llxml2xliff.messages"/></p>
                    </div>
                </div>
            </div>
        </f:if>

        <table class="table">
            <f:for each="{files}" as="file">
                <tr>
                    <td class="col-title col-responsive">{file.filename}</td>
                    <td class="col-control">
                        <a href="{f:be.uri(route: 'web_EwLlxml2xliff.confirmConversion', parameters: {extension: selectedExtension.key, file: file.filename})}">
                            <button type="button" class="btn btn-default" data-inline="1" value="blank" data-identifier="convertExtension">
                                <f:translate id="select_file" domain="ew_llxml2xliff.messages"/>
                            </button>
                        </a>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</f:section>

</html>
