<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
	<h1><f:translate id="header.conversion"/></h1>

	<f:form action="showFiles">
		<div class="form-section form-group">
			<label for="extension"><f:translate id="extension"/></label>
			<div class="form-control-wrap">
				<div class="input-group">
					<f:render partial="SelectExtension" arguments="{_all}"/>
				</div>
			</div>
		</div>
	</f:form>

	<f:form action="confirmConversion">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
		<div class="form-section form-group">
			<label for="file"><f:translate id="file"/></label>
			<div class="form-control-wrap">
				<f:if condition="{files}">
					<f:then>
						<div class="input-group">
							<f:render partial="SelectFile" arguments="{_all}"/>
						</div>
					</f:then>
					<f:else><f:translate id="noFilesToConvert" arguments="{0: selectedExtension}"/></f:else>
				</f:if>
			</div>
		</div>
	</f:form>
</f:section>

</html>
