{namespace core=TYPO3\CMS\Core\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="Content">
	<h1>
		<f:translate key="header.conversion"/>
	</h1>

	<f:form action="showFiles">
		<f:render partial="SelectExtension" arguments="{_all}"/>
	</f:form>

	<f:form action="confirmConversion">
		<f:form.hidden name="extension" value="{selectedExtension}"/>
		<f:render partial="SelectFile" arguments="{_all}"/>
	</f:form>
</f:section>

</html>
