name: build

on:
  push:
    branches: [ develop, main ]
    tags: [ '*' ]
  pull_request:
    branches: [ develop ]

jobs:

  resources:
    name: Resources tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run the xliff lint
        run: Build/Scripts/additionalTests.sh -s lintXliff

      - name: Test documentation build
        run: Build/Scripts/additionalTests.sh -s buildDocumentation

      - name: Cleanup
        run: Build/Scripts/additionalTests.sh -s clean

  testsuite:
    name: All php tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        packages:
          - php: '8.2'
            core: '^14.0'
            framework: 'dev-main'
            prefer: ''
            testpath: 'Tests/Functional'

          - php: '8.2'
            core: '^14.0'
            framework: 'dev-main'
            prefer: '--prefer-lowest'
            testpath: 'Tests/Functional'

          - php: '8.3'
            core: '^14.0'
            framework: 'dev-main'
            prefer: ''
            testpath: 'Tests/Functional'

          - php: '8.3'
            core: '^14.0'
            framework: 'dev-main'
            prefer: '--prefer-lowest'
            testpath: 'Tests/Functional'

          - php: '8.4'
            core: '^14.0'
            framework: 'dev-main'
            prefer: ''
            testpath: 'Tests/Functional'

#          - php: '8.4'
#            core: '^14.0'
#            framework: 'dev-main'
#            prefer: '--prefer-lowest'
#            testpath: 'Tests/Functional'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint php
        run: |
          Build/Scripts/runTests.sh \
            -p ${{ matrix.packages.php }} \
            -s lintPhp

      - name: Composer install core
        run: |
          Build/Scripts/runTests.sh \
            -p ${{ matrix.packages.php }} \
            -s composer require ${{ matrix.packages.prefer }} "typo3/cms-core:${{ matrix.packages.core }}"

      - name: Composer install framework
        run: |
          Build/Scripts/runTests.sh \
            -p ${{ matrix.packages.php }} \
            -s composer require --dev ${{ matrix.packages.prefer }} "typo3/testing-framework:${{ matrix.packages.framework }}"

      - name: Composer validate
        run: |
          Build/Scripts/runTests.sh \
            -p ${{ matrix.packages.php }} \
            -s composerValidate

      - name: Cleanup
        run: |
          Build/Scripts/runTests.sh -s clean
          Build/Scripts/additionalTests.sh -s clean

  TERUpload:
    needs: [ resources, testsuite ]
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    name: TYPO3 TER release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish to TER
        uses: tomasnorre/typo3-upload-ter@v2
        with:
          api-token: ${{ secrets.TYPO3_API_TOKEN }}
